<div class="example-wrapper">
  <h1>Bonjour {{ controller_name1 }}! ✅</h1>
  This friendly message is coming from:
  <ul>
    <li>{{ controller_name2 }}</li>
    <li>{{ controller_name3 }}</li>
  </ul>
  <form validate>
    <label>Username: </label>
    <input type="text" id="username" />
    <label>Password</label>
    <input type="password" id="password" />
    <button type="submit" id="myBtn">Login</button>
  </form>
</div>
