<style>
    .title {
        text-align: center;
    }

    .image {
        width: 80%;
        margin: auto;
        display: block;
    }
</style>

<h1 class="title">Club ESPRIT</h1>
<img class="image" src="{{asset('images/reyna.png')}}" alt="taswira" />